xsd/otds-schema-accommodation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Mit XMLSpy v2011 rel. 3 sp1 (x64) (http://www.altova.com) von Sebastian Oremek (TravelTainment GmbH) bearbeitet -->
<!-- edited with XMLSpy v2011 rel. 3 (x64) (http://www.altova.com) by Sebastian Oremek (TravelTainment GmbH) -->
<xs:schema xmlns="http://otds-group.org/otds" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:internal="http://otds-group.org/otds/internal" targetNamespace="http://otds-group.org/otds" elementFormDefault="qualified">
	<xs:include schemaLocation="otds-schema-common.xsd"/>
	<xs:include schemaLocation="otds-schema-addon.xsd"/>
	<xs:complexType name="AccommodationsType">
		<xs:complexContent>
			<xs:extension base="CompositeUpdateNodeType">
				<xs:sequence>
					<xs:element name="Accommodation" type="AccommodationType" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation xml:lang="de" xml:id="de_2">Reisekomponente für Unterbringungen
Dieser Zweig enthält alle relevanten Daten (Stammdaten, Preise, Verfügbarkeiten) für Unterbringungen wie Hotels, Ferienwohnungen und Ferienhäusern. 
Jede Reisekomponente kann unter Produkte (Products) alleine oder mit anderen Komponenten zu verkaufsfertigen Angeboten zusammengefasst werden.</xs:documentation>
							<xs:documentation xml:lang="en" xml:id="en_2">Travel component for accommodation
This branch contains all of the relevant information (master data, prices, availability) for accommodation options, such as hotels, holiday apartments and holiday homes.
All travel components can be pooled under Products either on their own or with other components as ready-for-sale product offers.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AccommodationWrapper" type="WrapperType" minOccurs="0" maxOccurs="unbounded" internal:otdsversion="2.0">
						<xs:annotation>
							<xs:documentation xml:lang="de" xml:id="de_546">Die AccommodationWrapper definieren eine zusätzliche Instanz zwischen der ComponentenInstanz "Accommodations" und der eigentlichen "Accommodation"-Komponente. In der Produktregel oder in DefinedComponents können hierarchische Abhängigkeiten zwischen den AccommodationWrappern und den Accommodations festgelegt werden. AccommodationWrapper werden dazu benutzt, die Abhängigkeit zwischen mehreren Accommodations bei Rundreisepaketen abzubilden.Mehr Details hierzu finden Sie in der Dokumentation unter dem Schlagwort "Wrapper-Komponenten" und im Beispiel "WrapperComponent_Examples.xml". </xs:documentation>
							<xs:documentation xml:lang="en" xml:id="en_546">The AddonWrapper define an additional instance between the ComponentInstance "Addons" and the actual "Addon" component. In the product rule or in DefinedComponents hierarchical dependencies between AddonWrapper and Addons can be defined. AddonWrapper are being used in order to describe the dependency between several Addons in Addon-packets. For more details please refer to the keyword "Wrapper Components" in the documentation and to the example "WrapperComponent_Examples.xml".</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PriceItems" type="PriceItemsType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation xml:lang="de" xml:id="de_3">Preisberechnung auf Accomodations-Ebene
Preise, die für alle Unterkünfte in der Datenlieferung gelten
</xs:documentation>
							<xs:documentation xml:lang="en" xml:id="en_3">Calculating the price at accommodation level
Prices, which are valid for all accommodation in the data delivery</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AccommodationType">
		<xs:annotation>
			<xs:documentation xml:lang="de" xml:id="de_5">Beschreibung der Unterkunft / des Hotels 
- Name 
- Adresse 
- Besonderheiten und Einrichtungen 
- Preise 
- Verfügbarkeiten 
- Belegungen </xs:documentation>
			<xs:documentation xml:lang="en" xml:id="en_5">Description of the accommodation/hotel 
- name 
- address 
- features and facilities 
- prices 
- room availability 
- occupancy</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="MultipleCompositeUpdateNodeWithTagsType">
				<xs:sequence>
					<xs:element name="Properties" type="PropertiesType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation xml:lang="de" xml:id="de_6">Stammdaten der Unterbringung:
Name, Adresse, Lage der Unterkunft, Kategorien, Merkmale und Eigenschaften der Unterkunft</xs:documentation>
							<xs:documentation xml:lang="en" xml:id="en_6">Master data for accommodation:
Name, address, location of accommodation, category, features and characteristics of the property</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Filter" type="FilterSimpleNodeType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation xml:lang="de" xml:id="de_8840">Bedingungen auf Accommodation-Ebene
Hier können Regeln und Einschränkungen auf Hotelebene definiert werden.</xs:documentation>
							<xs:documentation xml:lang="en" xml:id="den_8840">Conditions at accommodation level
Here, rules and restrictions are defined at the hotel level.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SellingAccom" type="SellingAccomType" maxOccurs="unbounded" internal:otdsversion="1.9">
						<xs:annotation>
							<xs:documentation xml:lang="de" xml:id="de_7">Verkaufsrelevante Daten der Unterbringung:
enthält u.a. Preise und Verfügbarkeiten.</xs:documentation>
							<xs:documentation xml:lang="en" xml:id="en_7">Data relevant to the sale of accommodation:
including price and availability amongst other factors.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CatchmentAirports" type="SimpleNodeIataAirportCodeListType" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="de" xml:id="de_8">Alle Flughäfen, die im Einzugsgebiet der Accommodation liegen.
Angaben erfolgen als (IATA Airport-Code bzw. IATA MAA-Code). Es ist in Form einer XML-List auch die Angabe mehrerer Flughäfen durch Space getrennt möglich.

Spezialfall: wenn der Code sowohl einen konkreten Flughafen als auch eine Flughafengruppe (MAA - Metropolitan Airport Code) identifiziert, wird nur der konkrete Flughafen berücksichtigt. 

Um die Definition der Airport-Codes seitens IATA zu überprüfen, nutzen Sie bitte den Link: http://www.iata.org/publications/Pages/code-search.aspx

Eine nicht zwingend vollständige und nicht zwingend korrekte Liste der IATA-Airport-Codes finden Sie unter: https://de.wikipedia.org/wiki/Liste_der_IATA-Flughafen-Codes

Eine nicht zwingend vollständige und nicht zwingend korrekte Liste der MAA-Codes finden Sie unter: http://wikitravel.org/en/Metropolitan_Area_Airport_Codes</xs:documentation>
							<xs:documentation xml:lang="en" xml:id="en_8">All airports situated in the catchment area of the accommodation.
Information is given as (IATA airport code or IATA MAA Code). It is also possible, in the form of an XML list, to specify several airports using a space between each.
Special case: if the code identifies both, a real airport and a group of airports (MAA - Metropolitan Airport Code), only the real airport is considered.
For information about the IATA airport code definition see: http://www.iata.org/publications/Pages/code-search.aspx
					    
You will find a list of the concrete airport codes that is not garanteed to be complete or correct here: https://de.wikipedia.org/wiki/Liste_der_IATA-Flughafen-Codes
					    
You will find a list of the MAA-Codes  that is not garanteed to be complete or correct here: http://wikitravel.org/en/Metropolitan_Area_Airport_Codes
</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PriceItems" type="PriceItemsType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation xml:lang="de" xml:id="de_8841">Preisbestandteile auf Accommodation-Ebene</xs:documentation>
							<xs:documentation xml:lang="en" xml:id="en_8841">Pricing at accommodation level</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Availabilities" type="AvailabilitiesType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation xml:lang="de" xml:id="de_9">Unter diesem Zweig werden die Verfügbarkeiten eines Objektes definiert. Fehlt der Zweig, so gelten alle Termine und Dauern als nicht verfügbar, sofern diese nicht schon an anderer Stelle als verfügbar definiert wurden. Die Ebene "Availabilities" definiert, welche Art der Verfügbarkeits-Steuerung vorliegt. Wenn zum Beispiel eine Steuerung der Verfügbarkeiten über die Dauer stattfindet, so wird es je eingeschränkter Dauer einen eigenen Availabilities-Zweig mit einer entsprechenden Dauerbedingung unter "Conditions" geben. In der Regel sollte der Key des Availabilities-Knoten genau mit dieser Condition korrelieren, damit der Key für inkrementelle Updates immer eindeutig reproduzierbar ist.
							
Bitte beachten Sie: Es muss auch immer der letzte mögliche CheckOut-Termin in der Availability enthalten sein.

Dies hat am Ende der Saison und auch bei Übernachtflügen zur Folge, dass dieser letzte CheckOut-Termin in der Availability in der Regel explizit ergänzt werden muss mit der Möglichkeit an diesem Termin auszuchecken, obwohl eine Übernachtung an dem Termin nicht mehr möglich ist.

Availabilities können auf vielen unterschiedlichen Ebenen definiert werden. Wie diese Ebenen bei mehrfacher Definition von Availabilities zusammengefasst werden, können Sie in der OTDS-Dokumentation nachlesen. Benutzen Sie dort die Suchfunktion und suchen nach "Availability".</xs:documentation>
							<xs:documentation xml:lang="en" xml:id="en_9">Under this branch the availability of the accommodation is defined. If this branch is omitted, all dates and durations will be considered unavailable unless they are already defined elsewhere as available. The "Availabilities" layer defines which kind of availability management is possible. For example, if availabilities are managed according to duration, each restricted duration will have its own Availabilities branch with corresponding permanent duration restriction under "Conditions". As a rule, the key to the Availabilities node correlates exactly with this condition, so that the key for incremental updates is always clearly reproducible.
							
Please note: the last possible CheckOut-date must also always be included in the Availability. 

At the end of the season and also for overnight flights this leads to the general necessity to explicitly add this last CheckOut date in the Availability including the possibility to check out on this date.

Availabilities may be defined on various different layers. How those layers can be merged in the case of multiple definition of availabilites is covered in the OTDS documentation. Please use the search mode and inquire for "Availability".</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SellingAccomType">
		<xs:complexContent>
			<xs:extension base="MultipleCompositeUpdateNodeWithTagsType">
				<xs:sequence>
					<xs:element name="Booking" type="BookingType">
						<xs:annotation>
							<xs:documentation xml:lang="de" xml:id="de_11">In diesem Element werden alle Values zusammengefasst, die zum Buchen notwendig sind. Später können über den BookingEntry andere Namespaces ergänzt werden, so das spezifisch für verschiedene Buchungssysteme Values zusammen mit dem dazugehörenden Parameternamen angegeben werden können.</xs:documentation>
							<xs:documentation xml:lang="en" xml:id="en_11">In this element, all values ​​required for booking are combined. Other namespaces can be added to the BookingEntry later, so that values specific to different booking systems are specified along with their corresponding parameter names​​.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Properties" type="PropertiesType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation xml:lang="de" xml:id="de_12">Merkmale und Eigenschaften der Unterkunft, inkludierte Zusatzleistungen</xs:documentation>
							<xs:documentation xml:lang="en" xml:id="en_12">Features and characteristics of the accommodation, included add-ons.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Filter" type="FilterSimpleNodeType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation xml:lang="de" xml:id="de_13">Bedingungen auf Unterkunft-/Hotelebene
Hier können Regeln und Einschränkungen auf Hotelebene definiert werden.</xs:documentation>
							<xs:documentation xml:lang="en" xml:id="en_13">Conditions at accommodation/hotel level
Here, rules and restrictions are defined at the hotel level.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Board" type="BoardType" minOccurs="1" maxOccurs="unbounded"/>
					<xs:element name="Unit" type="UnitType" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation xml:lang="de" xml:id="de_14">Definition auf Unitebene
In Unit werden die Stammdaten der Unit festgelegt.
Belegung und Preisbestandteile werden in SellingUnit geliefert.</xs:documentation>
							<xs:documentation xml:lang="en" xml:id="en_14">Definition at the unit level
At the unit level the master data of the unit can be specified.
Occupancy and pricing components are specified in the SellingUnit.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PriceItems" type="PriceItemsType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation xml:lang="de" xml:id="de_15">Preisberechnung auf Unterkunfts- / Hotelebene </xs:documentation>
							<xs:documentation xml:lang="en" xml:id="en_15">Pricing at accommodation / hotel level</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NeighbourComponentCorrection" type="NeighbourComponentCorrectionType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation xml:lang="de" xml:id="de_16">In diesem Zweig können außergewöhnliche Auswirkungen auf den CheckIn und CheckOut der angrenzenden Komponenten definiert werden. Aktuell kennen wir nur Fälle bei Flügen. Hier betrifft es Flüge, die sehr früh an einem Tag ankommen oder sehr spät an einem Tag abfliegen. In diesem Zweig kann man dann definieren, dass der CheckIn vorgezogen wird oder der CheckOut ggf. einen Tag später erfolgt. Seit Version 2.0 ist es nun möglich, dass man einer NeighbourComponentCorrection eine Condition mitgibt. Anwendungsfall ist, wenn eine Verschiebung durch einen späten Flug bei bestimmten Hotels nicht gewünscht ist. 
							
Bzgl. der Impact-Bedingungen erfolgt die Auswertung der Condition analog zu den Filtern durch Anwendung eines umhüllenden "NonImpact", auch wenn dieser nicht explizit angegeben ist.

Falls nach der Auswertung der Condition identische "NeighbourComponentCorrection/CheckInDateOffset/@Component" bzw. "NeighbourComponentCorrection/CheckOutDateOffset/@Component" vorhanden sind, so wird jeweils das in XML-Order erste davon benutzt.
Die Auswertung der NeighbourComponentCorrections erfolgt durch Iteration aller möglicher Condition-Varianten. 

Die Conditions in den NeighbourComponentCorrections (im folgenden NCC genannt) können Termin-Bedingungen enthalten, die wiederum durch die NCC beeinflusst werden, was einen Zirkelbezug bedeuten würde. Dieser Zirkelbezug wird durch folgende Vorgehensweise vermieden:
Sind NCC mit Condition vorhanden, so wird formal jede mögliche Variante von NCC-Kombinationen (incl. alle Conditions sind False, also keine NCC mit Conditions) angewendet.
Für jede der so erhaltenen Angebotskandidaten wird geprüft, ob die zugrundeliegenden Annahmen bzgl. der NCC-Conditions erfüllt sind.
Wird mindestens eine Annahme nicht erfüllt, so wird der Angebots-Kandidat verworfen. 
Diese Art der Verarbeitung definiert auch das Verhalten bei terminabhängigen Conditions korrekt. Im Normalfall (also keine terminabhängigen Conditions) kann praktisch die Auswertung auch direkt vorgenommen werden.</xs:documentation>
							<xs:documentation xml:lang="en" xml:id="en_16">In this branch the exceptional effects on the CheckIn and CheckOut of adjacent components can be defined. We are currently only aware of flight implications. This concerns flights arriving very early or leaving very late on any particular day. In this branch one can specify that CheckIn should be brought forward or the CheckOut put back for a day. Since Version 2.0 it is possible to add a NeighbourComponentCorrection to a condition. This might for example be necessary, when a change caused by a late flight is not desired for specific hotels.
							
Regarding the impact conditions the evaluation of the condition takes place analoguous to the filters by applying a wrapping "NonImpact", even if it is not indicated explicitly. If after the evaluation of the condition the identical  "NeighbourComponentCorrection/CheckInDateOffset/@Component" repectively the "NeighbourComponentCorrection/CheckOutDateOffset/@Component" exists, then the first one in the xml-order is used.
The evaluation of the NeighbourComponentCorrections takes place by iterating all condition variants possible. 

The conditions in the NeighbourComponentCorrections (hereafter called NCC) may contain date-conditions, which are in turn influenced by the NCC, which would lead to a circular reference. This circular reference is avoided by the following approach:
In the case that NCC with conditions exist, formally each possible variant of NCC combination is applied (including all conditions are False, hence no NCC with conditions).
For each of the offer candidates resulting by this, it is evaluated, if the underlying assumptions regarding the NCC conditions are fulfilled.
If at least one assumption is not fulfilled, the offer candidate is dismissed.
This approach for processing also defines the behaviour for date-dependent conditions correctly. Normally (hence no date-dependent conditions) the evaluation can be carried out directly.
</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Availabilities" type="AvailabilitiesType" minOccurs="0" maxOccurs="unbounded" internal:otdsversion="2.0">
						<xs:annotation>
							<xs:documentation xml:lang="de" xml:id="de_8845">Unter diesem Zweig werden die Verfügbarkeiten eines Objektes definiert. Fehlt der Zweig, so gelten alle Termine und Dauern als nicht verfügbar, sofern diese nicht schon an anderer Stelle als verfügbar definiert wurden. 
Die Ebene "Availabilities" definiert, welche Art der Verfügbarkeits-Steuerung vorliegt. Wenn zum Beispiel eine Steuerung der Verfügbarkeiten über die Dauer stattfindet, so wird es je eingeschränkter Dauer einen eigenen Availabilities-Zweig mit einer entsprechenden Dauerbedingung unter "Conditions" geben. In der Regel sollte der Key des Availabilities-Knoten genau mit dieser Condition korrelieren, damit der Key für inkrementelle Updates immer eindeutig reproduzierbar ist.
  
Bitte beachten Sie: Es muss auch immer der letzte mögliche CheckOut-Termin in der Availability enthalten sein.

Dies hat am Ende der Saison und auch bei Übernachtflügen zur Folge, dass dieser letzte CheckOut-Termin in der Availability in der Regel explizit ergänzt werden muss mit der Möglichkeit an diesem Termin auszuchecken, obwohl eine Übernachtung an dem Termin nicht mehr möglich ist.

Availabilities können auf vielen unterschiedlichen Ebenen definiert werden. Wie diese Ebenen bei mehrfacher Definition von Availabilties zusammengefasst werden können Sie in der OTDS-Dokumentation nachlesen. Benutzen Sie dort die Suchfunktion und suchen nach "Availability".</xs:documentation>
							<xs:documentation xml:lang="en" xml:id="en_8845">Under this branch the availability of an accommodation is defined. If this branch is omitted, all dates and durations will be considered unavailable unless they are already defined elsewhere as available. 
The "Availabilities" layer defines which kind of availability management is possible. For example, if availabilities are managed according to duration, each restricted duration will have its own Availabilities branch with corresponding permanent duration restriction under "Conditions". As a rule, the key to the Availabilities node correlates exactly with this condition, so that the key for incremental updates is always clearly reproducible.
							
Please note: the last possible CheckOut-date must also always be included in the Availability. 

At the end of the season and also for overnight flights this leads to the general necessity to explicitly add this last CheckOut date in the Availability including the possibility to check out on this date.

Availabilities may be defined on various different layers. How those layers can be merged in the case of multiple definition of availabilites is covered in the OTDS documentation. Please use the search mode and inquire "Availability".</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BoardType">
		<xs:annotation>
			<xs:documentation xml:lang="de" xml:id="de_17">Definition der Verpflegung</xs:documentation>
			<xs:documentation xml:lang="en" xml:id="en_17">Definition of catering</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="MultipleCompositeUpdateNodeWithTagsType">
				<xs:sequence>
					<xs:element name="Booking" type="BookingType" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="de" xml:id="de_18">In diesem Element werden alle Daten zusammengefasst, die zum Buchen notwendig sind. Später können über den BookingEntry andere Namespaces ergänzt werden, so das spezifisch für verschiedene Buchungssysteme Werte zusammen mit dem dazugehörenden Parameternamen angegeben werden können.</xs:documentation>
							<xs:documentation xml:lang="en" xml:id="en_18">In this element, all values ​​required for booking are combined. Other namespaces can later be added to the BookingEntry, so that values specific to different booking systems are specified along with their corresponding parameter names​​.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Properties" type="PropertiesType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation xml:lang="de" xml:id="de_19">Genauere Spezifizierung der Verpflegung</xs:documentation>
							<xs:documentation xml:lang="en" xml:id="en_19">More detailed specification of catering</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Filter" type="FilterSimpleNodeType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation xml:lang="de" xml:id="de_20">Einschränkungen in Bezug auf die Verpflegung (Board)</xs:documentation>
							<xs:documentation xml:lang="en" xml:id="en_20">Restrictions with reference to catering</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PriceItems" type="PriceItemsType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation xml:lang="de" xml:id="de_21">Preisberechnung der Verpflegung</xs:documentation>
							<xs:documentation xml:lang="en" xml:id="en_21">Pricing of catering</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="UnitType">
		<xs:annotation>
			<xs:documentation xml:lang="de" xml:id="de_22">Art der Unterkunft
- Single
- Double
- Apartment
- Studio
- Bungalow
- Triple
- Suite
- Other
</xs:documentation>
			<xs:documentation xml:lang="en" xml:id="en_22">Type of accommodation
- Single
- Double
- Apartment
- Studio
- Bungalow
- Triple
- Suite
- Other</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="MultipleCompositeUpdateNodeWithTagsType">
				<xs:sequence>
					<xs:element name="Properties" type="PropertiesType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation xml:lang="de" xml:id="de_23">Stammdaten und Ausstattung des Zimmers / der Ferienwohnung</xs:documentation>
							<xs:documentation xml:lang="en" xml:id="en_23">Master data and amenities of the room/ holiday apartment</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SellingUnit" type="SellingUnitType" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation xml:lang="de" xml:id="de_24">Verkaufsdaten auf Zimmerebene
Buchungsdaten, Belegung, Verfügbarkeiten, Preisbestandteile</xs:documentation>
							<xs:documentation xml:lang="en" xml:id="en_24">Price data at the room level
Booking data, occupancy, availability, price components</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Availabilities" type="AvailabilitiesType" minOccurs="0" maxOccurs="unbounded" internal:otdsversion="2.0">
						<xs:annotation>
							<xs:documentation xml:lang="de" xml:id="de_8846">Unter diesem Zweig werden die Verfügbarkeiten eines Objektes definiert. Fehlt der Zweig, so gelten alle Termine und Dauern als nicht verfügbar, sofern diese nicht schon an anderer Stelle als verfügbar definiert wurden. 

Die Ebene "Availabilities" definiert, welche Art der Verfügbarkeits-Steuerung vorliegt. Wenn zum Beispiel eine Steuerung der Verfügbarkeiten über die Dauer stattfindet, so wird es je eingeschränkter Dauer einen eigenen Availabilities-Zweig mit einer entsprechenden Dauerbedingung unter "Conditions" geben. In der Regel sollte der Key des Availabilities-Knoten genau mit dieser Condition korrelieren, damit der Key für inkrementelle Updates immer eindeutig reproduzierbar ist.

Bitte beachten Sie: Es muss auch immer der letzte mögliche CheckOut-Termin in der Availability enthalten sein.

Dies hat am Ende der Saison und auch bei Übernachtflügen zur Folge, dass dieser letzte CheckOut-Termin in der Availability in der Regel explizit ergänzt werden muss mit der Möglichkeit an diesem Termin auszuchecken, obwohl eine Übernachtung an dem Termin nicht mehr möglich ist.
Availabilities können auf vielen unterschiedlichen Ebenen definiert werden. Wie diese Ebenen bei mehrfacher definition von Availabilties zusammengefasst werden können Sie in der OTDS-Dokumentation nachlesen. Benutzen Sie dort die Suchfunktion und suchen nach "Availability".</xs:documentation>
							<xs:documentation xml:lang="en" xml:id="en_8846">Under this branch the availability of the accommodation is defined. If this branch is omitted, all dates and durations will be considered unavailable unless they are already defined elsewhere as available. 
							
The "Availabilities" layer defines which kind of availability management is possible. For example, if availabilities are managed according to duration, each restricted duration will have its own Availabilities branch with corresponding permanent duration restriction under "Conditions". As a rule, the key to the Availabilities node correlates exactly with this condition, so that the key for incremental updates is always clearly reproducible.

Please note: the last possible CheckOut-date must also always be included in the Availability. 

At the end of the season and also for overnight flights this leads to the necessity to explicitly add a possibility to check out on this date to this last CheckOut date in the Availability, although an overnight stay is no longer possible on this date.
Availabilities may be defined on various different layers. How those layers can be merged in the case of multiple definition of availabilites is covered in the OTDS documentation. Please use the search mode and inquire "Availability".</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PriceItems" type="PriceItemsType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation xml:lang="de">Preisberechnung auf Unit-Ebene

</xs:documentation>
							<xs:documentation xml:lang="en">Calculating the price at unit level
</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SellingUnitType">
		<xs:annotation>
			<xs:documentation xml:lang="de" xml:id="de_25">Der logische Knoten definiert Unterbringungsangebote wie Hotelzimmer oder 	Ferienhaustypen.
						</xs:documentation>
			<xs:documentation xml:lang="en" xml:id="en_25">The logical node defines the accommodation offer, the hotel room or holiday home type.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="MultipleCompositeUpdateNodeWithTagsType">
				<xs:sequence>
					<xs:element name="Booking" type="BookingType">
						<xs:annotation>
							<xs:documentation xml:lang="de" xml:id="de_26">Buchungsdaten des Zimmers: UnitCode</xs:documentation>
							<xs:documentation xml:lang="en" xml:id="en_26">Booking data for the room: UnitCode</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Properties" type="PropertiesType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation xml:lang="de" xml:id="de_27">Ausstattungsvarianten und inkudierte Zusatzleistungen der Unterkunft</xs:documentation>
							<xs:documentation xml:lang="en" xml:id="en_27">Variations in amenities and add-ons included with the accommodation</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Filter" type="FilterSimpleNodeType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation xml:lang="de" xml:id="de_28">Bedingungen, die für ein bestimmtes Zimmer/App. gelten.</xs:documentation>
							<xs:documentation xml:lang="en" xml:id="en_28">Conditions for a specific room/apartment</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Occupancy" type="OccupancyType" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation xml:lang="de" xml:id="de_29">Belegungsvarianten der Unterkünfe/Zimmer
Personen werden nach Alter absteigend definiert.
Exclude ermöglicht den Ausschluss von Belegungsmöglichkeiten.</xs:documentation>
							<xs:documentation xml:lang="en" xml:id="en_29">Occupancy variations for a room/apartment
Persons are defined in descending order by age.
Exclude allows for restricted occupancy criteria.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PriceItems" type="PriceItemsType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation xml:lang="de" xml:id="de_30">Preisberechnung auf Zimmerebene</xs:documentation>
							<xs:documentation xml:lang="en" xml:id="en_30">Price data at room level</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Availabilities" type="AvailabilitiesType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation xml:lang="de" xml:id="de_8842">Unter diesem Zweig werden die Verfügbarkeiten eines Objektes definiert. Fehlt der Zweig, so gelten alle Termine und Dauern als nicht verfügbar, sofern diese nicht schon an anderer Stelle als verfügbar definiert wurden. 

Die Ebene "Availabilities" definiert, welche Art der Verfügbarkeits-Steuerung vorliegt. Wenn zum Beispiel eine Steuerung der Verfügbarkeiten über die Dauer stattfindet, so wird es je eingeschränkter Dauer einen eigenen Availabilities-Zweig mit einer entsprechenden Dauerbedingung unter "Conditions" geben. In der Regel sollte der Key des Availabilities-Knoten genau mit dieser Condition korrelieren, damit der Key für inkrementelle Updates immer eindeutig reproduzierbar ist.  

Bitte beachten Sie: Es muss auch immer der letzte mögliche CheckOut-Termin in der Availability enthalten sein.

Dies hat am Ende der Saison und auch bei Übernachtflügen zur Folge, dass dieser letzte CheckOut-Termin in der Availability in der Regel explizit ergänzt werden muss mit der Möglichkeit an diesem Termin auszuchecken.</xs:documentation>
							<xs:documentation xml:lang="en" xml:id="en_8842">Under this branch the availabilities of an object are being defined. If this branch is missing, all dates and durations count as not available, unless they have been defined as available somewhere else. 
							
The level "Availabilities" defines, which kind of availability steering is in effect. If for example the steering of the availabities takes place via the duration, for each restricted duration there will be a particular availability branch with the corresponding duration condition under "Conditions". As a rule the key of the availability node should correlate with exactly this condition, so that the key for incremental updates at all times is reproducable nonambiguously.  

Please note: The latest possible CheckOut-date must be included in the Availability.

At the end of a season and also for overnight flights this brings about, that this latest CheckOut-date generally needs to be added explicitly in the Availability including the possibility to check out on this very date.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
