xsd/xml.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:docbook="http://docbook.org/ns/docbook" xmlns:xlink="http://www.w3.org/1999/xlink" targetNamespace="http://www.w3.org/XML/1998/namespace" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:attribute type="xs:ID" name="id"/>

<xs:attribute name="lang"/>

<xs:attribute name="base"/>


<xs:attribute name="space">


<xs:simpleType>


<xs:restriction base="xs:token">

<xs:enumeration value="preserve"/>

</xs:restriction>

</xs:simpleType>

</xs:attribute>

</xs:schema>
